
h2{
    font-size: 1.8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    line-height: 1.2;
}
p{
    font-size: 0.9em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    line-height: 1.6;
}
nav a{
    font-size: 0.9em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
}
nav a:hover{
    transform: scale(1.07);
}

#banner-txt-img h1{
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#section-services h1,#section-how-we-help h1{
    font-size: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}
#section-services h2,#section-how-we-help h2{
    padding:25px 0 5px 5px;
    font-size: 1.8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    line-height: 1.2;
}
#section-services p,#section-how-we-help p{
    font-size: 0.8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer h4{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: white;
    font-weight: lighter;
    font-size: 1em;
}
footer p{
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: white;
    font-weight: lighter;
    font-size: 0.7em;
}
footer a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    color: white;
    font-weight: lighter;
    font-size: 0.8em;
}

footer a:hover{
    color: white;
}
