html,body{
    margin:0;
    padding: 0;
    height: 100%;
    width: 100%;
}
header nav{
    background-color: #ffc107 !important;
}

#section-banner{
    background-color: #ffc107;
    min-height: 100%;
}

#get-in-touch-btn{
    padding:10px 20px;
    border: 4px #2d2d86 solid;
    background-color: transparent;
    color:#2d2d86;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    transition: ease-in-out 120ms;
}
#get-in-touch-btn:hover{
    background-color: #2d2d86;
    color:#fff;
    transition: ease-in-out 150ms;
    transform: translateY(-7px);
}

#section-services{
    background-color: #ffffff;
}

#section-services img{
    height: 90px;
    margin:25px 10px;
}

#section-how-we-help{
    background-color: #2d2d86;
}
#section-how-we-help .card{
    box-shadow: 0 5px 3px 3px rgb(0, 0, 0,0.7);
}

#section-how-we-help img{
    height: 90px;
    margin:25px 10px; 
}

/* helper class used to create space between divs without CONSEQUENCES */
.padder{
    display: inline-block;
    margin:40px ;
}
.clientLogoPadder{
    display: inline-block;
    margin:25px ;
}
#section-branches{
    background-color: #eef2f5;
}


#section-contact{

    background-color: #ffc107;  
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23283495' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23283495' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23932a94' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23283495' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d7277e' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23283495' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23ff4e5c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23283495' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23ff8734' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23283495' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23ffc107' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23283495' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    min-height: 50%;

}

#section-clients{
    min-height: 100px;
}

footer{
    background-color: #2d2d86;
}

#section-services .svgImg:hover{
    transform: scale(1.01);
    border-radius: 10px;
    -webkit-box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.07);
    box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.07);
}


