html,body{
    margin:0;
    padding:0;
    height:100%;
    width :100%
}
nav{
    background-color:  #ffc107;
}
.padder{
    display: inline-block;
    margin:50px
}

footer{
    background-color: #2d2d86;
}