html,body{
    margin:0;
    padding:0;
    height:100%;
    width :100%
}
nav{
    background-color:  #ffc107;
}
.padder{
    display: inline-block;
    margin:50px
}
#section-contact-title{
    padding-top: 80px;
    padding-bottom: 80px;
}
.cardBorder{

    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    -webkit-box-shadow:0px 0px 20px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow:0px 0px 20px 0px rgba(0, 0, 0, 0.07);
    box-shadow:0px 0px 20px 0px rgba(0, 0, 0, 0.07);
}
.cardHover:hover{

    transform: scale(1.01);
    -webkit-box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.15);
    box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.15);
}

.svgImg img{
    height: 150px;
}

#section-head-office{
    background-color: #eef2f5;
}

#footer{
    background-color: #2d2d86;
    min-height: 200px;
}